*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}
button{
    cursor: pointer;
}
:root{
    --color-strong-yellow: #FABC3F;
    --color-strong-yellow2: #FFB200;
    --color-old-yellow: #D8A25E;
    --color-red: #C7253E;
    --color-gold: #EEDF7A;
    --color-orange: #FF8225;
    --color-old-blue: #453F78;
    --color-blue: #00bfff;
    --color-old-red: #A04747;
    --color-light-blue: #536493;
    --color-older-blue: #2C4E80;
    --color-red2: red;

}
.nav-bar{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    padding: 0 3rem;
}
/* should be used on mobile devices */
.open-close-nav-btn{
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color-strong-yellow);
}
.ul-nav{
    display: flex;
    gap: 8vmin;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0 0;
    padding-bottom: 0.5rem;
    align-items: center;
    border-bottom: 2px solid black;
    backdrop-filter: blur(10px);
    padding-top: 1.3rem;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Added transition */
}
.ul-nav button li{
    font-size: 1.2rem;
}
.button-nav{
    cursor: pointer;
    border: none;
    background: none;
    height: 100%;
    position: relative;
    transition: 0.3s ease;
    font-weight: bold;
}
.button-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.75em;
    background-color: var(--color-gold); /* Adjust border color */
    transition: width 0.3s ease; /* Transition for smooth animation */
    z-index: -1;
    border-radius: 5px;
}
.button-nav:hover::after {
    width: 100%; 
}
.button-nav:hover{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--color-gold);
}
@keyframes width {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.logo-container-nav {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-strong-yellow2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.fa-shield-halved{
    color: var(--color-red)
}
.gold{
    background: -webkit-linear-gradient(45deg, var(--color-red), var(--color-strong-yellow2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Media query for screens 800px or smaller */
@media (max-width: 800px) {
    .nav-bar{
        padding: 0;
        border-bottom: 2px solid var(--color-strong-yellow);
    }
    .logo-container-nav{
        margin-top: -12px
    }
    .ul-nav {
        display: none; /* Hide the menu by default */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position it just below the navbar */
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 999;
        gap: 2vmin;
    }
    .button-nav::after{
        background-color: var(--color-older-blue);
        height: 100%;
    }
    .button-nav:hover{
        -webkit-text-stroke-width: 0px;
        color: white;
    }
    .button-nav{
        width: 100%;
        padding: 10px 0;
    }
    .open-close-nav-btn {
        display: flex;
        padding: 10px 0;
        justify-content: right;
        width: 100%;
        backdrop-filter: blur(10px);
        font-size: 2em;
        padding-right: 6vw
    }
}

.open-close-nav-btn i {
    transition: transform 0.25s ease; /* Rotate smoothly */
}

.rotate-icon {
    transform: rotate(180deg); /* Rotate 180 degrees */
}
.nav-bar .ul-nav.open {
    display: flex;
}
/* header */
header{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: var(--color-light-blue);
    z-index: 2;
}
header .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 700px 100px;
}
header .wave.wave1{
    animation: waves 30s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
header .wave.wave2{
    animation: waves 15s linear infinite;
    z-index: 99;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
header .wave.wave3{
    animation: waves 15s linear infinite;
    z-index: 98;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
header .wave.wave4{
    animation: waves 5s linear infinite;
    z-index: 97;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes waves {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position: 700px;
    }
}

.header-title{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    padding: 0 20px;
    text-align: center;
    letter-spacing: 1px;
    animation: 1s header;
}
@keyframes header {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.background-gif{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

/* ---------main----------- */
main{
    width: 100%;
    position: relative;
}
/* category */
.section1-container{
    margin-bottom: 5rem;
}
.section1-container h1{
    color: var(--color-red);
    font-size: 2rem;
    text-align: center;
}
.category-container button{
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--color-old-blue);
}
.category-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    text-align: center;
    justify-content: center;
    padding: 0 0.5rem
}
.category-btn {
    width: 16%;
    min-width: 12.5rem;
    height: 6rem;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* Ensures the image stays within the button */
    cursor: pointer;
    /* hidden initial state */
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Animation for sliding in from the left */
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation for sliding in from the right */
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply animations */
.category-left.show {
    animation: slideInFromLeft 0.6s forwards;
}

.category-right.show {
    animation: slideInFromRight 0.6s forwards;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 600;
    color: white; /* Ensure the text is visible */
}
.background1{
    background: url(venum-boxing-gloves.webp);
}
.background2{
    background: url(venum-boxing-shoes.webp);
}
.background3{
    background: url(venum-boxing-headgear.webp);
}
.background4{
    background: url(venum-handwraps.webp);
}
.background5{
    background: url(venum-jumprope.webp);
}
.background6{
    background: url(fdeaef67b077206f1c8a6339ba8328a3cabac224_UFC300_CustomShorts_20240408_CU_0188_7681a1da-e29c-4908-aa55-82dbbe7210e8.webp);
}
.background-category{
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.5; 
    z-index: 1;
    border-radius: 8.5px;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth zoom and opacity change */
    transform: scale(1); /* Initial scale */
    transform: translateX(0);
}
.category-btn:hover .background-category {
    transform: scale(1.1); /* Zoom in the image on hover */
    opacity: 0.8; /* Make the image fully visible */
}

/* discount */
.discount-section{
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--color-gold),var(--color-old-blue), var(--color-light-blue));
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
    background-size: 300% 300%;
    animation: disc-background 3s ease-in-out infinite;
    position: relative;
    z-index: 1;
}
@keyframes disc-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.discount-background{
    background: url(https://c4.wallpaperflare.com/wallpaper/425/469/186/sports-conor-mcgregor-conor-mcgregor-ufc-hd-wallpaper-preview.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}
.border-radius10{
    border-radius: 10px;
}
.discount-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    height: 60vh;
    backdrop-filter: blur(5px);
    transition: 0.7s ease;
    opacity: 0;
    transform: translateX(0);
}
.discount-container.show{
    animation: slideFromLeft 1s forwards;
}
@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%);
    } 100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.discount-inner-container{
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discount-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
    text-shadow: -2px 2px rgba(0,0,0,0.6);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 0 1vw
}
.discount-timer{
    font-size: 4.5rem;
    width: 100%;
    margin: 0;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.add-to-cart-btn{
    width: 55%;
    padding: 10px 0;
    font-size: 1.2em;
    margin: 20px 0;
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s ease-out;
    background: transparent;
    backdrop-filter: blur(50px);
    color: var(--color-blue);
    text-shadow: 2px 2px black;
}
.add-to-cart-btn:hover{
    transform: translateY(1px);
    text-shadow: 1px 1px black;
    color: var(--color-strong-yellow);
    border: 1px solid var(--color-strong-yellow);
}
.discount-items-container{
    width: clamp(600px, 50vw, 50%);
    height: 100%;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
}
.original-price, .discount-price, .like{
    position: relative;
}
.price-container{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-65%, -50%);
    display: flex;
    align-items: end;
}
.original-price{
    font-size: 1.5rem;
    color: var(--color-red);
    transform: translate(-10%, -150%);
}
.discount-price{
    font-size: 4rem;
    color: var(--color-strong-yellow2);
    text-shadow: -3px 3px 2px rgba(0,0,0,0.6);
}
.like{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    font-weight: bold;
}
.like button{
    padding: 10px 11px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    color: var(--color-red);
    transition: 0.2s ease-out;
    scale: 1;
}
.like button:hover{
    border-color: var(--color-red);
    scale: 0.95;
}
.discount-tag-container{
    position: absolute;
    transform: translate(-10%, -20%);
}
.discount-item-tag{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 12px;
    background-color: red;
    padding-left: 1.1em;
    border-radius: 10px;
    color: white;
}
.fa-heart{
    font-size: 1.1rem
}
.discount-items-img{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.original-price{
    text-decoration: line-through
}
/* MAIN section */
.category-title{
    margin: 50px 5vw 20px;
    font-size: 2rem;
}

.scroller{
    padding: 0 5vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.item-card {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 40px;
    border-radius: 15px;
    padding-bottom: 12px;
}

.product-img-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.product-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-red2);
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    border: 1px solid var(--color-red2);
}
  
.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: 1px solid var(--color-red2);
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
    color: var(--color-red2)
} 
.item-card:hover .card-btn {
    opacity: 1;
}
.card-btn:hover {
    background: var(--color-red2);
    color: #fff;
}
.item-desc {
    width: 100%;
}
  
.product-brand {
    text-transform: uppercase;
}
  
.product-short-description {
    width: 100%;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: -15px 0 8px 0;
}
.product-price {
    font-weight: 900;
    font-size: 1.8em;
}
.strip-price {
    margin-left: 10px;
    opacity: 0.5;
    text-decoration: line-through;
    font-size: 1.1em;
}
.like-product{
    position: absolute;
    padding: 5px;
}
.like-product button{
    padding: 8px 9px;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    color: var(--color-red);
    transition: 0.2s ease-out;
    scale: 1;
    text-align: center;
    align-items: center;
}
.like-product button i{
    font-size: 15px;
}
.like-product button:hover{
    border-color: var(--color-red);
    scale: 0.95;
}
.new-span{
    background: -webkit-linear-gradient(45deg, var(--color-red), var(--color-strong-yellow2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FOOTER SECTION */
footer{
    width: 100%;
}
footer h1{
    text-align: center;
    margin-top: 2.5em;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.companies-container{
    overflow: hidden;
    display: flex;
    padding: 20px 0;
}
.infinite-scroller{
    list-style-type: none;
    display: flex;
    gap: 4.5rem;
    justify-content: space-between;
    flex-shrink: 0;
    min-width: 100%;
    user-select: none;
    animation: scrollInfinite 25s linear infinite
}
.companies-container:hover .infinite-scroller{
    animation-play-state: paused;
}
@keyframes scrollInfinite {
    to{
        transform: translateX(-100%);
    }
}
.company img{
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
hr{
    margin: 0 5vw;
    padding: 2px;
    background: linear-gradient(45deg, var(--color-red2), var(--color-older-blue));
    border-radius: 30px;
}
.redBlue{
    background: -webkit-linear-gradient(45deg, var(--color-red2), var(--color-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ACTUAL inner footer */
.footer-section{
    margin-top: 80px;
    width: 100%;
    background-color: var(--color-old-blue);
    margin-bottom: -20px;
    color: white;
}
.footer-inner-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5vw 0 5vw;
    gap: 20px;
}
.email-label{
    font-size: 1.4em;
}
.sub-email-label{
    margin: 5px 0 10px 0;
    opacity: 0.7;
}
#email-input{
    padding: 2px 4px;
    width: 75%;
    font-size: 1.1em;
}
.submit-btn{
    border: none;
    padding: 4px 6px;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(45deg, var(--color-strong-yellow), var(--color-gold));
    color: var(--color-older-blue);
    transition: 0.2s ease;
    font-size: 1.1em;
}
.submit-btn:hover{
    color: var(--color-light-blue);
}
.socials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.socials-container p{
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 1.5em;
}
.socials{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
}
.social a{
    text-decoration: none;
    color: white;
}
.social a i{
    font-size: 2em;
    transition: 0.4s ease-out;
    border-radius: 0;
    border-radius: 50%;
}
.social a i:hover{
    transform: translateY(2px);
}
.social a i::before{
    background-color: transparent;
    padding: 10px;
}
.fa-instagram:hover{
    background: linear-gradient(45deg,purple, var(--color-red2), var(--color-strong-yellow));
    border-radius: 8px;
}
.fa-x-twitter:hover{
    background-color: black;
    border-radius: 8px;
}
.fa-youtube:hover{
    color: #ff2c2c;
    background: white;
    border-radius: 8px;
}
.footer-hr{
    margin-top: 20px;
    padding:0;
}
.trademark{
    padding: 0 0 15px 5vw;
}